html, body {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 960px;

}

body {
	background: #F2F2F2;
		width: 960px;
}

#wrap {
	background: #FFF;
	width: 960px;
	margin: 0 auto;
	
}
.hr1{
	height: 5px;
	background-color: #F2F2F2;
	
}
img{
}


#header {
	
	height: 80px;
}

#header h1 {
	color: #949F1A;
	text-align: center;
	line-height: 80px;
}

#nav {
	clear: left;
	width: 800px;
	margin: 0 auto;

}

#nav ul {
	list-style-type: none;
}

#nav ul li {
	width: 230px;
	background: white;
	margin: 0px 0px;
	height: 40px;
	float: left;
	margin-left: -110px;
}

#nav ul li a {
	color: #888888;
	display: block;
	height: 40px;
	text-decoration: none;
	width: 100%;
	font-size: 15px;
	font-family: arial ;
	margin-left: 7px;


}
#nav ul li a:hover {
color:  #1C67FF;
 transition: all 0.3s ease;
}

.clear{
	clear: both;
}

#menu{
	height: 100px;
	width: 200px;
	background: gold;
	float:right;
 clear: right;

}
#content {
	padding: 10px;
	float: right;
	margin-top: 20px;	
}

#content h2{
	text-align: center;
	color: gold;

}
#content p{
	text-align: justify;
	text-align: left;

}
#content .h3{
	margin-left: 10px;
}
.tx{
	margin-right: 10px;
}
.tx h3:hover{
	color:  #1C67FF;
    transition: all 0.2s ease;
    text-decoration: underline;
}
.bg1{
	display: inline-flex;
	background-color: #F5F5F5;
	width: 700px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 5px;
}
.bg1 p{ 

	margin-left: 15px;
	margin-right: 10px;
	font-size: 13px;
	font-family: arial;
	color: black;
	float: left;


}
.bg1 img{
	width: 300px;
	height: 200px;
}
.bg1 h3{
text-align: left;
margin-left: 20px;
font-family: arial;
float: left;
color: black;
}


#footer {
	height: 50px;
	display: table;
	width: 100%;
    background-color: black;
}

#footer h3 {

	color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.h3{
	color:grey;
	font-size: 20px;
	font-family: arial; 


}
.hr2{
 width: 25%;
 height: 1px;
 background-color: grey;
 margin-left: 10px;
}
.bg1 img:hover{
	 transition: all 0.2s ease;
	box-shadow: -5px 10px 20px black;
}
#incontent h2{
	text-align: center;
	font-family: arial;
	text-align: left;
	margin-left: 10px;

}
#incontent img{
	width: 600px;
	height: 350px;
	margin-left: 180px;
}
#incontent .p1{
	margin-left: 10px;
	font-size: 10px;
	font-family: arial;
}

#incontent p{
	margin-left: 30px;
	margin-right: 30px;
	font-family: arial;

}
#incontent video{
	margin-left: 220px;
}
.strong{
	color: #1C67FF;
}
.go{
	background-color:  #1C67FF;
	text-align: right;
	color: white;
	display: block;
	width: 70px;
}
.go1 p{
	color: white;
	font-family: arial;
	margin-left:  15px;

}
.go p:hover{
	border: 1px;
	background-color: white
	color:  #1C67FF;
}
.up{ 
   color:black;
   position:fixed; 
   bottom:10px; 
   right: 40px;
   font-size:100px;


}
.go1 a{
	font-size: 16px;
	color: black;
	margin-left: 15px;
	font-family: arial;
	text-decoration: none;

}
.go1 a:hover{
	text-decoration: underline;
	transition: all 0.3s ease;
    color:  #1C67FF;
}
.go2 a{
	background-color:  #1C67FF;
	color: white;
	font-family: arial;

}


#nav2{
	margin-bottom: 110px;
	font-family: arial;
	clear: left;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	margin-left: 300px;
}
#nav2 a{
	margin-top: 20px;
color: white;
font-size: 20px;
margin: 0 auto;

}


#nav2 ul {
	margin-top: 20px;
	list-style-type: none;
	margin: 0 auto;
}

#nav2 ul li {
	margin-top: 20px;
		margin-bottom: -20px;
	width: 40px;
	margin: 0px 5px;
	height: 60px;
	float: left;
	margin-bottom: 0px;

}



#nav2 ul li a{
	margin-top: 20px;
	
display: block;
background-color:grey;
text-decoration: none;
height: 30px;
padding-top: 5px;

}
#nav2 ul li a:hover{
	color:white;
	background-color:  black;
	   transition: all 0.2s ease;
}

.imgfon{
	width:960px;
	height: 50px;
}
.img{
	margin-bottom: 110px;
}
.pu1{
	width: 300px;
	height: 100px;

}
.coment{
	background-color: #F2F2F2;
	width: 400px;
	margin:0 auto;
}
.coment p{
font-size: 18px;
}
